{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "exclude": ["@babel/plugin-transform-regenerator"],
        "targets": {
          "browsers": "last 2 versions",
          "node": "10.0.0",
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}